<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Ivan.web.mapper.ArticleMapper">
    <insert id="addNewArticle" parameterType="com.Ivan.web.bean.Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article SET title=#{title},mdContent=#{mdContent},summary=#{summary},uid=#{uid},publishDate=#{publishDate},state=#{state},editTime=#{editTime}
    </insert>

    <update id="updateArticle" parameterType="com.Ivan.web.bean.Article">
        UPDATE article SET
        title=#{title},mdContent=#{mdContent},editTime=#{editTime}
        WHERE id=#{id}
    </update>

    <select id="getArticleByUs" resultType="com.Ivan.web.bean.Article">
        SELECT * FROM article WHERE uid=#{uid} AND state=#{state} ORDER BY publishDate DESC
    </select>

    <select id="getAllPublishDate" parameterType="Long" resultType="String">
        SELECT publishDate FROM article WHERE uid=#{id}
    </select>


    <select id="getArticleByDate" resultMap="BaseResultMap">
        SELECT a.* FROM article a WHERE a.publishDate LIKE concat('%',#{date},'%') AND a.state=#{state} AND a.uid=#{uid}
    </select>

    <resultMap id="BaseResultMap" type="com.Ivan.web.bean.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="uid" property="uid"/>
        <result column="publishDate" property="publishDate"/>
        <result column="editTime" property="editTime"/>
        <result column="state" property="state"/>
        <result column="mdContent" property="mdContent"/>
        <result column="summary" property="summary"/>
    </resultMap>

</mapper>